#font01{
  font-size: 50px !important;
}

#font02{
  font-size: 38px !important;
}

#font03{
  font-size: 38px !important;
}

.bg-primaryx{
  background-color: #1b4973 !important;
}

.bg-gradient-primaryx {
  background-color: #1b4793 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#224abe));
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover
}